<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="LocalAddress" value="net.tcp://192.168.0.10:2020/ServiceDataPiko/"/>
    <add key="ExternalAddress" value="net.tcp://88.172.245.48:9010/ServiceDataPiko/"/>
    <add key="Source" value="Piko Data Service"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ExtendedLog" value="true"/> <!-- true/false-->
    <add key="DatabasePath" value="C:\Users\maryguigui\Desktop\Piko\PikoTrafficManager\PikoDataService\DB\"/>
    <add key="PikoIniPath" value="C:\ProgramData\Piko Software\Video Server\VidServ.ini"/>
    <add key="PikoPlaylistPath" value="C:\Users\Public\Documents\Piko Video Server\Playlist"/>
    <add key="PikoBlockPath" value="C:\Users\Public\Documents\Piko Video Server\Block"/>
  </appSettings> 
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
